.company_list {
  text-align: center;
}

.company-name {
  font-size: 28px;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;

}

.phone {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
}

.click-below {
  margin-bottom: 0;
}

.contact {
  font-size: 20px;
  font-weight: bold;
  color: #0a3e87;
  border-top: 2px solid #82e4e5;
  border-left: 2px solid #82e4e5;
  border-bottom: 2px solid #82e4e5;
  border-right: 2px solid #82e4e5;
  padding: 10px 20px;
  margin-bottom: 0;

}

.hours {
  margin-top: 30px;
  margin-bottom: 0;
}

.weekdays {
  margin-bottom: 0;
}

.saturday {
  margin-bottom: 0;
}

.sunday {
  margin-bottom: 0;
}
