.filter {
  background-color: #f6f6f6;
  text-align: center;
  padding: 29px 0 11px;
  margin: 0 auto;
}

.dealer_number {
  display: inline-block;
  padding-right: 75px;
}

.filter_results {
  padding: 0;
  color: #000;
  display: inline-block;
}

.filter_results p {
  color: #797979;
  display: inline-block;
  padding-right: 44px;
}

.button.tiny {
  margin-right: 10px;
}

.filter_title {
  padding: 0;
  font-weight: bold !important;
}

.filter_tabs {
  display: inline-block;
}

.filter_buttons {
  margin: 0;
}

@media(max-width:480px) {

  .dealer_number {
    float: left;
    padding-right: 65px;
    padding-left: 35px;
  }

  .mobile_filter_icon {
    background-color: #f6f6f6;
  }

  .filter_title {
    float: left;
    border: 1px solid #bdbbbb;
    border-right: 0px;
    padding: 10px;
  }

  .result_button {
    float: left;
    border: 1px solid #bdbbbb;
        padding: 10px 18px;
  }

  .filter_tabs {
    background-color: #fff;
  }

  .filter_options{
    width: 100%;
    text-align: left;
    padding-left: 30px;
  }
}
