.filter {
  background-color: #f6f6f6;
  text-align: center;
  padding: 29px 0 11px;
  width: 80%;
  margin: 0 auto;
}

.dealer_numbers {
  padding: 0;
}

.filter_results {
  padding: 0;
  color: #000;
}

.filter_results p {
  color: #797979;
  display: inline-block;
  padding-right: 44px;
}

.button.tiny {
  margin-right: 10px;
}

.filter_title {
  padding: 0;
  font-weight: bold !important;
}

.filter_buttons {
  margin: 0;
}
